<div class="row">
  <%= form_for @playlist do |f| %>
  <div class="panel-container">
    <div class="panel-content">

      <div class="row collapse">
        <!-- name -->
        <div class="columns small-12 medium-3">
          <span class="prefix">Name</label>
        </div>
        <div class="columns small-12 medium-9">
          <input id="name" required type="text" name="playlist[name]" value="<%= @playlist.name %>"/>
        </div>
      </div>

      <div class="row collapse">
        <div class="columns small-12 medium-6">
          <ul class="button-group radius">
            <li><a href="<%= playlists_path %>" class="button secondary small">Cancel</a></li>
            <li><button type="submit" class="success small">Update</button></li>
          </ul>
        <div/>
      <div/>

      <div class="row collapse">
        <%= render 'shared/tracks' %>
      </div>

      <div class="row collapse">
        <div class="columns small-12 medium-6">
          <ul class="button-group radius">
            <li><a href="<%= playlists_path %>" class="button secondary small">Cancel</a></li>
            <li><button type="submit" class="success small">Update</button></li>
          </ul>
        <div/>
      <div/>

    </div>
  </div>
  <% end %>
</div>
